.m1 {
    text-align: center;
    width: 150px;
    border: inset;
    display: inline-block;
    margin-left: 10px;
}

.m2 {
    text-align: center;
    width: 150px;
    border: inset;
    display: inline-block;
    margin-left: 10px;
}


.m3 {
    text-align: center;
    width: 150px;
    border: inset;
    display: inline-block;
    margin-left: 10px;
}

img {
    width: 150px;
    height: 150px;
}

img.im3 {
    width: 150px;
    height: 186px;
}

p.main {
    color: purple;
}